* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  max-width: 550px;
}

main {
  background-color: #6943ff;
  color: white;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page--heading {
  margin-top: 0px;
  font-size: 28px;
  font-weight: 800;
}

#number--input {
  border: 1px solid white;
  border-radius: 4px;
  width: 100px;
  max-width: 200px;
  padding: 0px;
  font-size: 58px;
  background-color: #6943ff;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#convert--btn {
  color: #3d3d3d;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 20px;
}

.conversions--section {
  padding: 15px 10px;
  background-color: #f4f4f4;
  text-align: center;
}

.conversions--info {
  padding: 24px 20px 15px 20px;
  background-color: white;
  margin-top: 20px;
}

.conversions--header {
  color: #5a537b;
  font-size: 20px;
}
