* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  padding: 30px 0px 40px 0px;
  max-width: 575px;
}

.panel {
  text-align: center;
}

.teamName {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  margin-block: 15px;
}

#home--score,
#guest--score {
  margin: 0;
  font-family: "Cursed Timer ULiL", sans-serif;
  font-weight: 400;
  font-size: 90px;
  color: #f94f6d;
  background-color: black;
  padding: 15px 40px;
  border-radius: 4px;
}

.increment--panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.increment--button,
.game--button {
  font-family: "Cursed Timer ULiL", sans-serif;
  color: #9aabd8;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  padding: 6px;
  border-radius: 3px;
}

.game--button {
  margin-top: 10px;
  min-width: 55%;
  width: 100%;
}
